n = 3 일 때 </br>

1 2 3 </br>
8 9 4 </br>
7 6 5 </br>

In [2]:
import numpy as np

In [47]:
n = 10
np_array = np.zeros((n, n))
row, col, cnt = 0, 0, 0

for i in range(n):

  # print(i)

  while col < n - i:
    # print("1st", row, col, cnt)
    np_array[row][col] = cnt+1
    cnt += 1
    col += 1
  col -= 1
  row += 1

  if cnt == n**2 : break

  while row < n - i:
    # print("2nd", row, col, cnt)
    np_array[row][col] = cnt+1
    cnt += 1
    row += 1
  row -= 1
  col -= 1

  if cnt == n**2 : break

  while col >= 0 + i:
    # print("3rd", row, col, cnt)
    np_array[row][col] = cnt+1
    cnt += 1
    col -= 1
  col += 1
  row -= 1

  if cnt == n**2 : break

  while row > 0 + i:
    # print("4th", row, col, cnt)
    np_array[row][col] = cnt+1
    cnt += 1
    row -= 1
  col += 1
  row += 1

  if cnt == n**2 : break

np_array

array([[  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.],
       [ 36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,  11.],
       [ 35.,  64.,  65.,  66.,  67.,  68.,  69.,  70.,  45.,  12.],
       [ 34.,  63.,  84.,  85.,  86.,  87.,  88.,  71.,  46.,  13.],
       [ 33.,  62.,  83.,  96.,  97.,  98.,  89.,  72.,  47.,  14.],
       [ 32.,  61.,  82.,  95., 100.,  99.,  90.,  73.,  48.,  15.],
       [ 31.,  60.,  81.,  94.,  93.,  92.,  91.,  74.,  49.,  16.],
       [ 30.,  59.,  80.,  79.,  78.,  77.,  76.,  75.,  50.,  17.],
       [ 29.,  58.,  57.,  56.,  55.,  54.,  53.,  52.,  51.,  18.],
       [ 28.,  27.,  26.,  25.,  24.,  23.,  22.,  21.,  20.,  19.]])

In [42]:
# simple solution

n = 5
num = 1
i = 0
j = -1
trans_num = 1
result = np.zeros((n,n))

while n > 0 :
# 열 증가
    for _ in range(n):
        j += trans_num
        result[i][j] = num
        num += 1

    n -= 1
    #행 증가
    for _ in range(n):
        i += trans_num
        result[i][j] = num
        num += 1
    trans_num *= -1

result

array([[ 1.,  2.,  3.,  4.,  5.],
       [16., 17., 18., 19.,  6.],
       [15., 24., 25., 20.,  7.],
       [14., 23., 22., 21.,  8.],
       [13., 12., 11., 10.,  9.]])